<!-- page container -->
<div class="container mb-4">
  <!-- page title -->
  <div class="row d-flex justify-content-center my-4">
    <div class="col-12 col-sm-12 col-md-10 col-lg-8 text-center">
      <h1 class="title">Adicione um novo gênero</h1>
    </div>
  </div>
  <!-- form container -->
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <%= render 'form', genre: @genre %>
      <%= link_to 'Voltar para lista', genres_path, class: 'my-4 btn btn-primary' %>
    </div>
  </div>
  <!-- end form container -->
</div>
<!-- end container -->
