.logo {
  width: 240px;
  margin-top: 0;
  margin-bottom: 20px;

  @media (min-width: 480px) {
    width: 280px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @media (min-width: 768px) {
    width: 300px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  @media (min-width: 1024px) {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  @media (min-width: 1280px) {
    width: 320px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  @media (min-width: 1366px) {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.banner {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -100;
}

.search {
  margin-bottom: 20px;

  @media (min-width: 480px) {
    margin-bottom: 40px;
  }

  @media (min-width: 768px) {
    margin-bottom: 60px;
  }

  @media (min-width: 1024px) {
    margin-bottom: 40px;
  }

  @media (min-width: 1280px) {
    margin-bottom: 40px;
  }

  @media (min-width: 1366px) {
    margin-bottom: 60px;
  }
}

.title {
  font-size: 30px;
  font-weight: $font-weight-light;
  color: $white;

  @media (min-width: 768px) {
    font-size: 36px;
    letter-spacing: -0.015em;
  }
}

.not-found {
  font-size: 30px;
  font-weight: $font-weight-light;
}

input[type="text"] {
  font-family: $headings-font-family;
  font-weight: 300;
}

#hits {
  width: 100%;
  margin: 0 auto;

  .ais-hits {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

#pagination {
  ul {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    margin: 2rem 0;
  }

  li {
    display: list-item;
    text-align: -webkit-match-parent;

    &.ais-pagination--item__active {
      a {
        color: $white;
        background: $electric-blue;
      }
    }

    &:first-child {
      a, span {
        margin-left: 0;
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
      }
    }

    &:last-child {
      a, span {
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
      }
    }

    a, span {
      position: relative;
      display: block;
      padding: .5rem .75rem;
      margin-left: -1px;
      line-height: 1.25;
      color: $white;
      background-color: transparent;
      border: 1px solid $electric-blue;
    }
  }
}
