.banner {
  background-image: url(banner-1.jpeg );
  color: white;
  padding: 120px 0;
  background: linear-gradient(rgba(18, 33, 49, 0.8), rgba(18, 33, 49, 0.8)),
  url('banner-1.jpeg');
  background-size: cover;
}

.title {
  font-size: 48px;
  font-weight: $font-weight-light;
  letter-spacing: -0.015em;
  color: $white;
}

.not-found {
  font-size: 30px;
  font-weight: $font-weight-light;
}

input[type="text"] {
  font-family: $headings-font-family;
  font-weight: 300;
}

#hits {
  width: 100%;
  margin: 0 auto;

  .ais-hits {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

