<h1>meus favoritos filmes</h1>
<div class="row justify-content-center">
  <!-- single card loop -->
  <h2> <%= @user.nick %> </h2>
  <h2> Seguidores: <%= @user.followers.count %></h2>
  <h2> Seguindo: <%= @user.following.count %> </h2>

  <% @user.movies.each do |movie| %>
  <div class="col-6 col-sm-6 col-md-3 col-lg-2">
    <%= render 'shared/movie_card', movie: movie, favorite: '<i class="fas fa-star"></i>', favorited: '<i class="far fa-star"></i>' %>
  </div>
  <% end %>
  <!-- end single card loop -->
</div>
