<div class="container">
    <h1>Meu Perfil</h1>
    <br>
    <h2><%= @user.nick %> </h2>
    <span> Seguidores: <%= @user.followers.count %></span>
    <span class="pl-3"> Seguindo: <%= @user.following.count %> </span>

    <!-- single card loop -->
      <div class="row mt-5">
        <% @user.movies.each do |movie| %>
        <div class="col-6 col-sm-6 col-md-3 col-lg-2">
          <%= render 'shared/movie_card', movie: movie, favorite: '<i class="fas fa-star"></i>', favorited: '<i class="far fa-star"></i>' %>
        </div>
        <% end %>
      </div>
    <!-- end single card loop -->
</div>
