<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="container">
  <h3 class="text-center"><span class="badge">Os mais recentes</span></h3>
  <div class="cards row justify-content-center">
    <div class="card-category col-md-2 mr-4 mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#)">
    </div>

    <div class="card-category col-md-2 mr-4 mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#)">
    </div>

    <div class="card-category col-md-2 mr-4 mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#)">
    </div>

    <div class="card-category col-md-2 mr-4 mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#)">
    </div>

    <div class="card-category col-md-2 mr-4 mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#)">
    </div>
    <div class="card-category col-md-2 mr-4 mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#)">
    </div>

    <div class="card-category col-md-2 mr-4 mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#)">
    </div>

    <div class="card-category col-md-2 mr-4 mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#)">
    </div>

    <div class="card-category col-md-2 mr-4 mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#)">
    </div>

    <div class="card-category col-md-2 mr-4 mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#)">
    </div>
  </div>
</div>

