.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.avatar-large {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.avatar-profile {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
