
.card-element {
  background-color: rgba(255,255,255,0.1);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: all 0.2s ease-in-out;
  color: $black;
  border-radius: 3px;

  &:hover {
    transform: scale(1.1);
  }

  .card-play-wrap {
    position: relative;
    min-height: 250px;
    background-color: $dark;

    .card-thumb {
      width: 100%;
      height: auto;
      border-radius: 3px 3px 0 0;
    }

    .card-play {
      transition: all 0.2s ease-in-out;
      width: 50px;
      height: 50px;
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $popcorn-yellow;
      background-color: $electric-blue;
      border-radius: 3px 0 0 0;
    }

    &:hover {

      .card-play {
        color: $electric-blue;
        background-color: $popcorn-yellow;
      }

    }
  }

  .card-info {
    padding: 1rem;
    overflow: hidden;
    color: $white;

    .title {
      color: $white;
      font-size: 18px;
      font-weight: $font-weight-bold;
    }

    a {
      color: $white;
    }

    p {
      margin-bottom: 0.5em;
      line-height: 14px;

      .small {
        text-transform: uppercase;
        color: #879098;
        display: inline-block;
      }
    }
  }
}

.card-director {
  color: $black;
  background-color: $white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  .card-thumb {
    width: 100%;
    height: auto;
  }

  .card-info {
    padding: 1rem 1rem 0 1rem;
    overflow: hidden;

    .title {
      color: $black;
      font-size: 18px;
      font-weight: $font-weight-bold;
    }
  }
}
