.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  padding: 20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: auto;
  height: 30px;
}

.navbar-light .navbar-nav .nav-link {
  color: $white;

  &:hover {
    color: $popcorn-yellow;
  }
}

.avatar {
  background-color: $electric-blue;
}
